extends layout

block content
  //- h1= title
  h3 A lot can happen in a hundred years:
  div
    //- p Welcome to #{title}
    
    hr
    h2 ROOTS
    hr
    p 
      |The story begins, almost as a rejoinder to "Little House on the Prairie," 
      |in which Gram's inner "city mouse" turns a would-be vacation into a more 
      |urban lifestyle.
    p
      |South Dakota was into the heat of summer in 1919 when a baby girl, Evelyn, came
      |into the world. The family eventually grew to include 8 siblings plus a few
      |close cousins. Comfrey, Cosmo, Wilmer and Lake Lillian, among other towns in
      |Minnesota, became home to the family during most of Gram's childhood. A glance
      |at the map reveals these places are just around the corner from Walnut Grove, the hometown of
      |famed "Little House..." author, Laura Ingalls Wilder.
    p 
      |Destined for a different kind of life, Gram came to the heart of the Windy City,
      |Chicago, almost as soon as she became an adult. What was intended as a week's visit with
      |extended family promptly transformed into her new home. Not long after, she began a family
      |of her own. The disruptions of war, circumstances and accidents, some tragic, still could
      |not hold her back.
    p
      |Gram's adventures took her to other parts of the Midwest at various points.
      |She also travelled to the East Coast, West Coast and Europe before re-settling
      |into urban life near the city for the past several years.
    p 
      |Imagine the history she's witnessed, the experiences she's lived, and the tales both
      |she and her family recount. Perhaps the name of this website sums it up best -- it's Gram's expression upon
      |discovering the unusual, ironic or uncanny -- which is still quite frequent, even after all these years.
