extends ../layout
block content
  post
    h1= post.title
    hr
    div
      - var date = post.timeframe.toISOString().slice(0, 7);
      small When? #{date}
    div!= post.body
    div!= post.timeframe

  //- script(src='../../dist/js/posts.app.min.js')