.login-form {
    width: 100%;
    max-width: 360px;
    margin: 2rem auto 0;
}
  
#formMsg {
    display: none;
}

@media all and (max-width:480px) {
    .btn-sm-block { width: 100%; display:block; }
  }

// change button color from bootstrap blues to greens
body .btn-primary {
    background-color:#260126; // #7bc143;
    border-color: white;
    color: #FFF; }
body .btn-primary:hover, body .btn-primary:focus {
    border-color:#260126;// #6fb03a;
    background-color: white;
    color:#59323C; }
body .btn-primary:active, body .btn-primary:visited, body .btn-primary:active:focus, body .btn-primary:active:hover {
    border-color: #639d34;
    background-color: #639d34;
    color: #FFF; }