@import url('https://fonts.googleapis.com/css?family=Ranga');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
  padding: 20px;
  font: 14px "Acme", Helvetica, Arial, sans-serif;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a h2 {
  color: #260126;
  //color: #00B7FF;
  font-family: 'Acme', sans-serif;
}

a h3 {
  color: #260126;
  //color: #00B7FF;
  font-family: 'Acme', sans-serif;
}

a h2 span {
  background-color: #F2EEB3; //#bfaf80;
  // box-shadow: #00B7FF, 2px;
}

*{
  // font-family: 'Satisfy', cursive;
  // font-family: 'Ranga', cursive;
  font-family: 'Acme', sans-serif;
}

p {
  font-family: 'Acme', sans-serif;
  // font-family: 'Satisfy', cursive;
  font-size: 1.3rem;
}

main{
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.card{
  background-color: transparentize($color: #ffffff, $amount: .2);
}

/* body {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
}

body::after {
    background-image: url("GramDaBoss.JPG");
    background-color: #cccccc;
    height: 500px; /* You must set a specified height
    background-position: center; /* Center the image
    background-repeat: no-repeat; /* Do not repeat the image
    background-size: cover; /* Resize the background image to cover the entire container
   } */

/*div {
    height: 500px;
    display: block;
    position: relative;
  }*/
  
div::after {
    content: "";
    background: url(../../images/GramDaBossSm.JPG);
    background-attachment: fixed; /*scroll*/
    background-size: contain; //cover
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  //div {
    // background-color: #FFFF00;
  //  background-color: white;
    //opacity:0.6;
  //}

/* navbar */
.navbar-default {
  background-color: #59323C;
  border-color: #59323C;
}

.navbar-toggler {
  background-color: #BFAF80;
}

/* Title */
.navbar-default .navbar-brand {
  color: #BFAF80;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #8C6954;
}
/* Link */
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
  border-color: black;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
  }
}