@import url('https://fonts.googleapis.com/css?family=Ranga');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a h2 {
  color: #260126;
  //color: #00B7FF;
}

a h2 span {
  background-color: #F2EEB3; //#bfaf80;
  // box-shadow: #00B7FF, 2px;
}

*{
  font-family: 'Satisfy', cursive;
  // font-family: 'Ranga', cursive;
}

p {
  font-family: 'Satisfy', cursive;
  font-size: 1.3rem;
}

main{
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

/* body {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
}

body::after {
    background-image: url("GramDaBoss.JPG");
    background-color: #cccccc;
    height: 500px; /* You must set a specified height
    background-position: center; /* Center the image
    background-repeat: no-repeat; /* Do not repeat the image
    background-size: cover; /* Resize the background image to cover the entire container
   } */

/*div {
    height: 500px;
    display: block;
    position: relative;
  }*/
  
div::after {
    content: "";
    background: url(../../images/GramDaBossSm.JPG);
    background-attachment: fixed; /*scroll*/
    background-size: contain; //cover
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  //div {
    // background-color: #FFFF00;
  //  background-color: white;
    //opacity:0.6;
  //}